html,
body,
#app {
  height: 100%;
  box-sizing: border-box;

  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --text-color: white;
  --bg-color: black;
}

#nprogress .bar {
  background: rgb(62, 220, 132);
  height: 2px;
}
